@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;

}

ul,li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: black;
}

/* body */
body{
    background-color: rgb(232, 254, 235);
}

/* container */
.container{
    width: 90%;
    margin: 50px auto;
}

/* header */
header{
    margin: 0 auto;
    position: relative;
}

header nav{
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: end;
}


.menu ul li{
    float: left;
    margin-right: 30px;
    cursor: pointer;
    transition-duration: 0.7s;
    box-sizing: border-box;
}

.menu ul li:hover{
    border-bottom: 5px solid black;
    margin-top: -10px;
    box-sizing: border-box;
}

.banner{
    background-color: white;
    height: 650px;
    position: relative;
    background-image: url(./img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -190px;
}

.banner .textBox{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}

.banner .textBox p{
    font-size: 20px;
}

.banner .textBox h1{
    font-size: 40px;
}

.back{
    background-color: white;
    height: 300px;
}

/* section */
section{
    background-color: white;
}

section table{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}


section table tr td{
    width: 500px;
    height: 500px;
    border-bottom: 100px solid transparent;
}

section table tr td hr{
    background-color: black;
    height: 5px;
    width: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* section table tr td img{
    transition-duration: 1s;
}

section table tr td img:hover{
    margin-top: -20px;
    cursor: pointer;
} */

/* footer */
footer{
    /* border-top: 1px solid lightgrey; */
    background-color: white;
    height: 100px;

    position: relative;
}

.logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 300px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-wrap img{
    width: 30px;
    height: 30px;
    margin: 10px;
    box-sizing: border-box;
    opacity: 0.7;
    cursor: pointer;
    transition-duration: 0.5s;
}

.logo-wrap img:hover{
    opacity: 1;
}