@charset "utf-8";
/* 
iframe{
    width: 100%;
    height: 100vh;
} */

/* ========== banner 영역 ========== */
.banner{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 1. header */
.banner header{
    width: 100%;
    height: 80px;
    background-color: #94A66D;
    color: #F1F2F0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.3s;
}
/* header에 active 클래스 추가 시, 스타일링 */
.banner header.active{
    background-color: transparent;
    color: rgba(241, 242, 240, 0.5);
    height: 50px;
}
.banner header.active h1.logo{
    font-weight: 100;
    font-size: 1.5rem;
}
.banner header.active .menu-btn{
    width: 20px;
    height: 20px;
}
.banner header.active .menu-btn span{
    background-color:rgba(241, 242, 240, 0.5);
}
.banner header.active .icon-box{
    width: 30px;
    height: 30px;
}
.banner header.active .icon-box svg{
    stroke : rgba(241, 242, 240, 0.5);
}
.banner header h1.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    cursor: pointer;
}
.banner header .menu-btn{
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
}
.banner header .menu-btn span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F1F2F0;
    opacity: 1;
    transition: 0.3s;
    position: absolute;
}
.banner header .menu-btn span:nth-child(1){
    top: 0;
}
.banner header .menu-btn span:nth-child(2){
    top: 50%;
}
.banner header .menu-btn span:nth-child(3){
    top: 100%;
}
.banner header .menu-btn.active span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.banner header .menu-btn.active span:nth-child(2){
    opacity: 0;
}
.banner header .menu-btn.active span:nth-child(3){
    transform: rotate(-45deg);
    top: 50%;
}
.banner header .icon-box{
    width: 50px;
    height: 50px;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* 2. sub-menu */
.banner .sub-menu{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-100vh);
    transition: 0.5s;
    z-index: 8;
}
.banner .sub-menu.active{
    transform: translateY(0);
    transition: 0.3s;
}
.banner .sub-menu li{
    width: 100%;
    height: 50px;
    color: #F1F2F0;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.banner .sub-menu li:last-child{
    margin-bottom: 0;
}
.banner .sub-menu li:hover{
    scale: 1.2;
    color: #94A66D;
}

/* 3. userBox > loginBox / signupBox */
.banner .userBox-wrap{
    display: none;
}
.banner .userBox-wrap{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.banner .userBox-wrap .userBox{
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}
/* closeBtn */
.banner .userBox-wrap .userBox .closeBtn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.banner .userBox-wrap .userBox .closeBtn span{
    width: 100%;
    height: 2px;
    background-color: #94A66D;
    display: inline-block;
    position: absolute;
}
.banner .userBox-wrap .userBox .closeBtn span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.banner .userBox-wrap .userBox .closeBtn span:nth-child(2){
    transform: rotate(-45deg);
    top: 50%;
}
/* input-box */
.banner .userBox-wrap .userBox .input-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banner .userBox-wrap .userBox .input-box h2{
    margin-bottom: 10px;
}
.banner .userBox-wrap .userBox .input-box input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
    height: 30px;
    margin : 10px 0;
    padding: 10px;
}
.banner .userBox-wrap .userBox .input-box input::placeholder{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.7rem;
}
.banner .userBox-wrap .userBox .input-box button{
    font-family: 'Noto Sans KR', sans-serif;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    background-color: #94A66D;
    color: #f1f2f0;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.banner .userBox-wrap .userBox .input-box button:hover{
    background-color: #677547;
    color: #f1f2f0;
}
.banner .userBox-wrap .userBox .input-box a{
    color: rgba(0, 0, 0, 0.8);
    width: 70%;
    text-align: end;
    margin-top: 10px;
    font-size: 0.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.banner .userBox-wrap .userBox .input-box a:hover{
    text-decoration: underline;
}

/* 4. banner-box */
.banner .banner-box-wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.banner .banner-box-wrap-mb{
    display: none;
}
.banner .banner-box{
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner-box .banner-box-left{
    overflow: hidden;
    width: 500px;
    height: 100%;
    border-top-left-radius: 200px;
    margin-right: 10px;
}
.banner .banner-box .banner-box-right{
    width: 531px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.banner .banner-box .banner-box-right .txt-box{
    width: 100%;
    height: 30%;
    padding: 20px 0;
    margin-bottom: 10px;
    background-color: #a9b78a;
    color: #f1f2f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.banner .banner-box .banner-box-right .txt-box h2{
    font-size: 1.5rem;
    margin-bottom: -3px;
}
.banner .banner-box .banner-box-right .txt-box p{
    text-transform: capitalize;
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.banner .banner-box .banner-box-right .txt-box .time p{
    margin-bottom: 0;
    color: white;
}
.banner .banner-box .banner-box-right .img-box{
    height: 70%;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

/* 스크롤 표시 */
.scroll-box{
    width: 50px;
    height: 30px;
    position: fixed;
    bottom: 10px;
    /* right: 10px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    overflow: hidden;
    cursor: pointer;
}
.scroll-box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5rem;
}
.scroll-box .arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    opacity: 0.5;
    transform: translate(-50%,-50%) rotate(180deg);
    animation: scroll 1.5s linear infinite;
}
@keyframes scroll {
    from{
        top: 0;
    }
    to{
        top: 80%;
    } 
}

/* side-menu */
.menuBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    text-align: center;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    z-index: 99;
}
.menuBtn p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #94A66D;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5rem;
}
.menuBtn img{
    animation: menuBtn 5s linear infinite;
}
@keyframes menuBtn {
    to{
        transform: rotate(360deg);
    }
}
/* menuBtn > side-menu 영역 */
.side-menu-wrap{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.side-menu-wrap .side-menu{
    transition: 0.3s;
    height: 100px;
    width: 100px;
    position: relative;
    display: none;
}
.side-menu-wrap .side-menu.active{
    display: block;
}
.side-menu-wrap .side-menu li{
    text-align: center;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: 100;
    line-height : 30px;
    font-size: 0.5rem;
    position: absolute;
    transition: 0.3s;
}
.side-menu-wrap .side-menu li:hover{
    background-color: #94a66d83;
}

.side-menu-wrap .side-menu li:nth-child(1){
    right: 0;
    top: 0;
}
.side-menu-wrap .side-menu li:nth-child(2){
    right: 30px;
    top: 13px;
}
.side-menu-wrap .side-menu li:nth-child(3){
    left: 15px;
    bottom: 30px;
}
.side-menu-wrap .side-menu li:last-child{
    left: 0;
    bottom: 0;
}

/* section 기본 크기값 */
section{
    width: 100%;
    height: 100vh;
}

/* ========== section1 section2 영역 ========== */
/* 1. sec1-head / sec2-head*/
.sec1 .sec1-head{
    width: 100%;
    height: 60%;
    background: url(../img/dark-main2.jpg) no-repeat center center;
    background-size: cover;
}
.sec2 .sec2-head{
    width: 100%;
    height: 60%;
    background: url(../img/dark-main1.jpg) no-repeat center center;
    background-size: cover;
}
.sec1 .sec1-head .txt-box,
.sec2 .sec2-head .txt-box{
    width: 100%;
    height: 100%;
    color: #f1f2f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec1 .sec1-head .txt-box h2,
.sec2 .sec2-head .txt-box h2{
    font-size: 50px;
    padding-bottom: 10px;
}
.sec1 .sec1-head .txt-box p,
.sec2 .sec2-head .txt-box p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
}

/* 2. sec1-body / sec2-body*/
.sec1 .sec1-body,
.sec2 .sec2-body{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 .sec1-body .swiper,
.sec2 .sec2-body .swiper{
    width: 80%;
    height: (50% - 100px);
    margin : 0 auto;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide,
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide{
    text-align: center;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide .tag{
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: #94A66D;
    color: #F1F2F0;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide img,
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide img{
    width: 150px;
    height: 150px;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide .txt-box,
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide .txt-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide .txt-box p,
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide .txt-box p{
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    transition: 0.3s;
    cursor: pointer;
}
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide .txt-box p{
    width: 150px;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide:hover .txt-box p,
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide:hover .txt-box p{
    text-decoration: underline;
}
.sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide .txt-box span,
.sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide .txt-box span{
    font-size: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    color: #A5AFA5;
    cursor: pointer;
}

.sec3{
    display: none;
}
/* ========== footer 영역 ========== */
footer{
    width: 100%;
    height: 300px;
    background-color: lightgray;
}

/* =========== 반응형 잡기 ========== */
@media (max-width : 1380px) {
    .banner .banner-box{
        width: 80vw;
    }
}
@media (max-width : 1050px) {
    
}
@media (max-width : 1030px) {
    .banner .banner-box{
        width: 90vw;
    }
}
@media (max-width : 830px) {
    .banner .banner-box{
        display: none;
    }
    .banner .banner-box-wrap-mb{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner .banner-box-wrap-mb .banner-box{
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 20px;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .banner .banner-box-wrap-mb .banner-box .txt-box{
        background-color: #a9b78a;
        color: white;
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }
    .banner .banner-box-wrap-mb .banner-box .banner-wrap-mb{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner .banner-box-wrap-mb .banner-box .banner-wrap-mb .banner-box-left,
    .banner .banner-box-wrap-mb .banner-box .banner-wrap-mb .banner-box-right{
        border-radius: 0;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width : 580px) {
    .sec1 .sec1-body .swiper,
    .sec2 .sec2-body .swiper{
        width: 100%;
    }
    .sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide,
    .sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide{
        width: 33.333%;
    }
    .banner .userBox-wrap .userBox{
        width: 300px;
        height: 300px;
        background-color: white;
        position: relative;
    }
}
@media (max-width : 475px) {
    .sec1 .sec1-body .swiper .swiper-wrapper .swiper-slide,
    .sec2 .sec2-body .swiper .swiper-wrapper .swiper-slide{
        width: 50%;
    }
}