@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Open+Sans:wght@300&display=swap');

/* ---------- 초기화 ----------- */
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    border: none;
    background: transparent;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html,
body{
    background-color: black;
}

/* ---------- 로그인 버튼 고정 ---------- */
.login{
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.loginBtn{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 70px;
    height: 40px;
    cursor: pointer;
}

.loginBtn:hover{
    background-color: white;
    color: black;
}

/* ---------- header ---------- */
header{
    height: 500px;
    background-image: url(./img/header-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: -1px;
    position: relative;
}

.header-txt img{
    width: 200px;
    height: 200px;
    margin-bottom: -50px;
}

.header-txt{
    width: 60%;
    position: absolute;
    top: 40%;
    left: 10%;

    transform: translateY(-50%);
}

.header-txt h1{
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.header-txt span{
    font-size: 0.812rem;
}

.header-txt input{
    background-color: rgb(68, 68, 68);
    color: lightgrey;
    border: none;
    height: 30px;
    margin-bottom: 20px;
    width: 300px;
}

.header-txt button{
    background-color: #0063e5;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;

    transform: translateY(1px);
}

.header-txt p{
    font-size: 0.625rem;
}

/* ---------- section ---------- */
section{
    color: white;
    margin: 100px auto 0 auto;
}

/* box1 */
.box1{
    width: 80%;
}

.box1 table{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

.box1 table th, 
.box1 table td {
    border-left: 1px solid #444444;
    padding: 10px;
  }

.box1 table th:first-child, 
.box1 table td:first-child {
border-left: none;
}

.box1 table th{
    font-size: 15px;
}

.box1 table td{
    font-size: 10px;
}

/* box2 */
.box2{
    width: 80%;
    height: 500px;
    margin: 0 auto 100px auto;
    display: flex;
}

.box2 .txtBox{
    width: 80%;
    margin-top: 160px;
}

.txtBox h3{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.txtBox p{
    font-size: 0.625rem;
}

.box2 .imgBox{
    width: 70%;
}

.imgBox img{
    object-fit: contain;
}

.imgBox img:hover{
    transform: scale(1.1, 1.1);
    transition: transform.5s;
}

/* box3 */
.box3{
    text-align: center;
}
.box3 h3{
    margin-top: 100px;
    font-size: 20px;
}
.box3 p{
    font-size: 0.625rem;
    margin-bottom: 30px;
}

.inbox-1{
    width: 80%;
    margin: 0 auto;
}

.inbox{
    display: flex;
    margin-right: -10px;
    margin-bottom: 10px
}

.inbox img{
    width: calc(33.333% - 10px);
    margin-right: 10px;
    opacity: 0.7;
}

.inbox img:hover{
    opacity: 1;
    transform: scale(0.8, 0.8);
    transition: transform.4s;
}

/* box4 */
.box4 table{
    margin: 100px auto 0 auto;
    width: 90%;
    text-align: left;
}

.box4 table .head{
    font-size: 0.812rem;
    border-bottom: 10px solid black;
}
.box4 table td{
    font-size: 0.562rem;
}
.box4 table .head,
.box4 table td{
    border-right: 30px solid black;
}
.box14 table .head:last-child, 
.box4 table td:last-child {
border-right: none;
}
.box4 table tr.media-table{
    display: none;
}

/* box5 */
.box5{
    text-align: center;
}

.box5 h3{
    font-size: 1.25rem;
    margin-bottom: 10px;
    margin-top: 100px;
}

.box5 p{
    font-size: 0.625rem;
    margin-bottom: 30px;
}

.box5 table{
    width: 90%;
    margin: 0 auto;
}

.box5 table td{
    vertical-align : top;
    border-bottom: 10px solid black;
}

.box5 table td p{
    margin-bottom: 0;
}

/* box6 */
.box6 details{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
}

.box6 details:last-child,
.box6 details p:last-child{
    margin-bottom: 0;
}

.box6 details p{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 0.625rem;
    line-height: 20px;
}

.box6 summary{
    cursor: pointer;
}


/* ---------- footer ---------- */
footer{
    margin: 50px 0 50px 0;
    background-color: black;
    text-align: center;
    font-size: 0.625rem;
    color: white;
}

footer img{
    width: 100px;
    height: 100px;
}

footer .container .footer-menu{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer .text-box{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

/* 반응형 페이지 잡기 */
@media (max-width : 670px) {
    header{
        background-position: center;
    }
    header .header-txt{
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        text-align: center;
    }
    header .header-txt img{
        width: 100px;
        height: 100px;
        margin-bottom: 0;
    }
    header .header-txt input{
        width: 50%;
    }

    /* box2 */
    .box2{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .box2 .txtBox h3{
        font-size: 1rem;
    }
    .box2 .txtBox p{
        font-size: 0.5rem;
    }

    /* box3 */
    .box3{
        width: 100%;
    }
    .box3 h3{
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .box3 p{
        font-size: 0.5rem;
    }
    .box3 .inbox-1{
        width: 100%;
    }
    .box3 .inbox-1 .inbox{
        justify-content: space-between;
    }

    /* box4 */
    .box4 table{
        text-align: center;
    }
    .box4 table tr:nth-child(3){
        display: none;
    }
    .box4 table .head,
    .box4 table td {
        border-right: 1px solid black;
        font-size: 0.5rem;
    }

    /* box6 */
    .box6 h3{
        font-size: 1rem;
    }
    .box6 details summary{
        font-size: 0.8rem;
    }
    .box6 details p{
        font-size: 0.5rem;
    }

    /* footer */
    footer .container{
        width: 80%;
        margin: 0 auto;
    }
    footer a,
    footer .text-box p{
        font-size: 0.5rem;
        color: rgba(255, 255, 255, 0.8);
    }
    footer .container .footer-menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .container .footer-menu a{
        margin: 0 10px;
    }
    footer .container .text-box p:nth-child(1){
        display: none;
    }
}

@media (max-width : 530px) {
    header .header-txt h1{
        font-size: 20px;
    }
    header .header-txt span{
        font-size: 0.5rem;
        margin-bottom: 0;
    }
    header .header-txt input,
    header .header-txt button{
        height: 20px;
        font-size: 0.5rem;
    }

    /* box1 */
    .box1 table tr th{
        font-size: 0.8rem;
        border-right: 1px solid #fff;
    }
    .box1 table tr th:last-child{
        border-right: none;
    }
    .box1 table tr td{
        display: none;
    }
    .box1 table{
        width: 100%;
    }

    /* box4 */
    .box4 table{
        text-align: center;
        width: 50%;
    }
    .box4 table tr:nth-child(1),
    .box4 table tr:nth-child(2){
        display: none;
    }
    .box4 table tr.media-table{
        display: block;
    }
    .box4 table tr.media-table td svg{
        width: 50px;
        height: 50px;
    }

    /* box5 */
    .box5 table{
        margin-top: -20px;
        width: 60%;
    }
    .box5 table tr td{
        display: none;
    }
    .box5 table tr th{
        width: 60px;
        height: 60px;
    }
    .box5 table tr th:nth-child(1) img,
    .box5 table tr th:nth-child(2) img{
        object-fit: contain;
    }

    /* box6 */
    .box6 h3{
        font-size: 0.8rem;
    }
    .box6 details summary{
        font-size: 0.6rem;
    }
    .box6 details summary p{
        font-size: 0.5rem;
    }
}

@media (max-width : 370px) {
    html,body{
        font-size: 80%;
    }

    /* box4 */
    .box4 table{
        width: 60%;
    }
    .box4 table tr.media-table td{
        width: 100%;
        text-align: center;
    }
    .box4 table tr.media-table td:nth-child(1){
        display: none;
    }

    /* footer */
    footer .container .footer-menu{
        display: none;
    }
    footer .container img{
        width: 70px;
        height: 50px;
        margin-bottom: -30px;
    }
    footer .container .text-box{
        margin: 0 auto;
    }
}

@media (max-width : 325px) {
    .loginBtn{
        font-size: 0.5rem;
        width: 50px;
        height: 25px;
    }
    header{
        width: 100%;
        background-position: center;
        height: 250px;
    }
    header .header-txt img{
        width: 50px;
        height: 50px;
    }    
    header .header-txt h1{
        font-size: 1rem;
        margin-bottom: -20px;
    }
    header .header-txt span,
    header .header-txt p{
        display: none;
    }
    header .header-txt input,
    header .header-txt button{
        height: 20px;
        font-size: 7px;
    }
    header .header-txt input{
        width: 70%;
    }
    header .header-txt button{
        width: 25%;
    }

    /* box3 */
    .box3 p{
        display: none;
    }

    /* box4 */
    .box4{
        display: none;
    }
}