@charset "utf-8";

/* 초기화 */
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul, li{
    list-style: none;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
}

/* header */
#nav{
    height: 75px;
    background-color: rgb(206, 221, 226);
    padding: 10px;
    box-sizing: border-box;
    line-height: 50px;
}

header nav .logobox{
    /* width: 50px;
    height: 50px; */
    padding-left: 20px;
    box-sizing: border-box;
    float: left;
}

header nav ul{
    float: right;
}

header nav li{
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}

.Btn{
    border-radius: 5px;
    background-color: lightskyblue;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.banner{
    height: 400px;
    width: 100%;
    /* background-color: antiquewhite; */
    background: url(https://i.pinimg.com/736x/a7/a1/7d/a7a17d50e9fe651481c71cac95a09319.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -500px;
    color: white;
    text-align: center;

    position: relative;
}

.banner .textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .textBox h1{
    margin-bottom: 30px;
    box-sizing: border-box;
}

.banner .textBox button{
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    box-sizing: border-box;
}

.banner .textBox button:hover{
    background-color: rgb(0, 0, 0);
    color: wheat;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* section */
.box1{
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    height: 500px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box1 .innerBox .imgBox{
    width: 90%;
    height: 250px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.box1 .innerBox .imgBox img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.box1 .innerBox .textBox{
    background-color: aliceblue;
    widows: calc(33.333% - 30px);
    height: 150px;
    width: 90%;
    margin-top: 0;
    box-sizing: border-box;

    position: relative;
}

.box1 .innerBox .textBox h3{
    border-bottom: 2px solid black;
    box-sizing: border-box;
    width: 100px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.box1 .innerBox .textBox div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box1 .innerBox .textBox p{
    font-size: 13px;
}

/* box2 */
.box2{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: rgb(211, 238, 255);
    box-sizing: border-box;
    margin-top: -1px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 .textBox{
    text-align: center;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.box2 .textBox h3{
    margin-bottom: 20px;
}

.box2 .textBox p{
    margin-bottom: 15px;
    font-size: 13px;
}

.box2 .imgBox{
    width: 400px;
    height: 350px;
    position: relative;
}

.box2 .imgBox img{
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;

    position: absolute;
    top: 7%;
}

/* box3 */
.box3{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-top: -1px;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.box3 .innerBox{
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 .innerBox img{
    flex-wrap:wrap;
    width: calc(23% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding: 5px;
    box-sizing: border-box;
}

/* box4 */
.box4{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: rgb(211, 238, 255);
    box-sizing: border-box;
    margin-top: -1px;
    height: 300px;
    position: relative;
}

.box4 .textBox{
    width: 70%;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box4 .textBox h2{
    margin-bottom: 20px;
}

/* footer */
footer{
    background-color: lightslategray;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.footerLeft{
    border-right: 2px solid white;
    margin : 0px 30px 10px 40px ;
    box-sizing: border-box;
    width: 35%;
    height: 100px;

    position: relative;
}

.footerLeft .textBox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


footer .textBox p{
    font-size: 13px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
}

footer .textBox input{
    border-radius: 3px;
    border: none;
    height: 25px;
    width: 200px;
    padding-left: 10px;
    box-sizing: border-box;
}

.footerMiddle table{
    text-align: left;
    color: white;
}

.footerMiddle table th,
.footerMiddle table td{
    border-right: 40px solid transparent;
}

.footerMiddle table td{
    font-size: 13px;
}

.footerRight{
    margin: auto 10px 0 auto;
}
