@charset "utf-8";
@font-face {
    font-family: 'Silk Serif';
    src: url('../fonts/silk-serif/Silk-Serif-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd/BrownStd-Regular/BrownStd-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard/Pretendard-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img, video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}