@charset "utf-8";

#hamburger{
    display: none;
}

/* 전체 container 공통 스타일링 지정 */
.container{
    height: 100vh;
}

/* ==== banner 영역 ==== */
.banner{
    position: relative;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
}
.banner header{
    width: 100%;
    height: 80px;
    color: white;
    z-index: 99;
    position: fixed;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    transition: 0.3s;
}
.banner header.active{
    color: #262320;
    background-color: white;
}
.banner header .menu-left,
.banner header .menu-right{
    display: flex;
    margin-right: 0;
}
.banner header .menu-left li,
.banner header .menu-right li{
    margin-right: 24px;
    letter-spacing: 2px;
    opacity: 0.5;
    transition: 0.3s;
}
.banner header .menu-left li:hover,
.banner header .menu-right li:hover{
    opacity: 1;
}
/* header 중앙 로고 영역 */
.banner header .logo{
    width: 200px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    cursor: pointer;
}
.banner header .logo svg{
    fill: white;
    opacity: 0.5;
    transition: 0.3s;
}
.banner header .logo:hover svg{
    opacity: 1;
}
.banner header.active .logo svg{
    width: 164px;
    height: 24px;
    fill: #262320;
}

/* ==== sub-menu-box 영역 ==== */
/* 하나씩 가려서 확인하기 */
/* #tab1, #tab2, #tab3{
    display: none;
} */
.sub-menu-box{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
}
.sub-menu-box.active{
    opacity: 1;
    z-index: 99;
}
.sub-menu-box .sub-menu{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    /* (1230/1920) * 100 = 64.0625 */
    width: 64vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    opacity: 0;
    transition: 0.3s;
}
.sub-menu-box .sub-menu.active{
    opacity: 1;
}
.sub-menu-box .sub-menu .menu-left{
    height: 277px;
}
.sub-menu-box .sub-menu .menu-left .sub-menu-detail{
    margin-right: 50px;
}
.sub-menu-box .sub-menu .menu-left .sub-menu-detail .sub-menu-head{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.8);
}
.sub-menu-box .sub-menu .menu-left .sub-menu-detail .sub-menu-body{
    font-size: 0.8rem;
    color: #a8a8a8;
    margin-top: 8px;
}
.sub-menu-box .women .menu-left,
.sub-menu-box .men .menu-left{
    width: calc(100% - 11vw);
    display: flex;
    margin-right: 11vw;
}
.sub-menu-box .women .sub-menu-detail,
.sub-menu-box .men .sub-menu-detail{
    width: 33.333%;
}

.sub-menu-box .photo img{
    object-position: center top;
}
.sub-menu-box .women .photo,
.sub-menu-box .men .photo{
    width: 236px;
    height: 277px;
}

/* #tab3  */
.sub-menu-box .collections .photo{
    width: 472px;
    height: 277px;
}
.sub-menu-box .collections .sub-menu-detail{
    margin-bottom: 8px;
}
/* #tab4 */
.sub-menu-box .about .photo{
    width: 300px;
    height: 221px;
}
.sub-menu-box .about .sub-menu-detail p{
    margin-top: 12px;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

/* ==== sec1 영역 ==== */
.sec1{
    background: url(../img/sec-1-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.sec1 .canvas{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
}
.sec1 .canvas .carousel{
    display: flex;
    align-items: center;
    animation: carousel 60s linear infinite ;
}
@keyframes carousel {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.sec1 .canvas .carousel .cell{
    width: 280px;
    height: 350px;
    margin-left: -20px;
    opacity: 0.6;
}
.sec1 .canvas .carousel .cell:nth-child(even){
    opacity: 1;
    width: 350px;
    height: 400px;
    margin-left: 10px;
}
.sec1 .canvas .carousel .cell img{
    object-position: center top;
}
.sec1 .sec1-txt{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Silk Serif';
    font-weight: 300;
    color: #262320;
    font-size: 2rem;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    width: 70vw;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
}


/* ==== sec2 영역 ==== */
.sec2 .container{
    background: url(../img/collect02.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.sec2 .txt{
    color: white;
    font-family: 'Silk Serif';
    font-size: 15rem;
    display: flex;
    height: 100%;
    align-items: flex-end;
    line-height: 1;
}


.sec3, .sec4{
    background: rgba(229, 221, 196, 0.8);
}
/* ==== sec3 영역 ==== */
.sec3 .container{
    padding: 72px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec3 .container .about-txt-t{
    font-family: 'Silk Serif';
    font-size: 2.5rem;
    line-height: 1;
}
.sec3 .container .about-txt-m{
    text-align: end;
}
.sec3 .container .about-txt-b{
    text-transform: uppercase;
    font-size: 1rem;
}


/* ==== sec4 영역 ==== */
.sec4 .container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec4 .container .mask{
    width: 25vw;
    height: 65vh;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    overflow: hidden;
}
.sec4 .container .ceo-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec4 .container .ceo-txt .ceo-head{
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
}
.sec4 .container .ceo-txt .ceo-head img{
    object-fit: contain;
}
.sec4 .container .ceo-txt .ceo-body{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 0.8rem;
    width: 24vw;
    line-height: 1.5;
}

/* ==== sec5 영역 ==== */
.sec5 .container{
    padding: 40px 32px 0px 32px;
}
.sec5 .container .head-txt{
    font-family: 'Silk Serif';
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: end;
    height: 15vh;
}
.sec5 .container .store-gallery{
    width: 100%;
    display: flex;
    height: calc(100% - 25vh);
    border-bottom: 1px solid #362d26;
}
.sec5 .container .store-gallery .left{
    display: flex;
    width: calc(100% - 37vw);
    border-right: 1px solid #362d26;
}
.sec5 .container .store-gallery .right{
    width: 37vw;
    display: flex;
    justify-content: flex-end;
}
.sec5 .container .store-gallery .store .box1{
    width: 300px;
    height: 400px;
}
.sec5 .container .store-gallery .store .box2{
    width: 267px;
    height: 343px;
    margin-left: -20px;
}

/* ==== footer 영역 ==== */
.footer .container{
    font-family: 'Pretendatd';
    font-weight: 300;
    letter-spacing: 1px;
    width: 80vw;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 60px 0;
    height: auto;
}

.footer .container .footer-t{
    display: flex;
}
.footer .container .footer-t .box{
    width: 20%;
    height: 300px;
}
.footer .container .footer-t .box h2{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 16px;
}
.footer .container .footer-t .box p{
    font-size: 1rem;
    color: #a8a8a8;
    margin-bottom: 8px;
}
.footer .container .footer-t input{
    border: none;
    outline: none;
    padding: 8px 0;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    margin-bottom: 40px;
}
.footer .container .footer-t input::placeholder{
    color: rgba(168, 168, 168, 0.7);
    opacity: 1;
    transition: 0.3s;
}
.footer .container .footer-t input:focus::placeholder{
    opacity: 0;
}
.footer .container .footer-t .footer-btn{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.3);
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
.footer .container .footer-t .footer-btn:hover{
    background-color: rgba(168, 168, 168, 0.5);
}

.footer .container .footer-b .copyright{
    font-size: 1rem;
    color: rgba(0,0,0,0.8);
    font-weight: 600;
}

/* ==== 상단이동 버튼 ==== */
.top-btn{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
.top-btn::after{
    content: '';
    background : url(../img/Lemaire_topbtn-i-black.svg) no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
}
.top-btn img{
    animation: topBtn 30s linear infinite;
}
@keyframes topBtn {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}