@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img,
svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html,
body{
    transition: 0.3s;
}