@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
img, svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul,li{
    list-style: none;
}