@charset "utf-8";

.wrap{
    position: relative;
}

/* 1. header 영역 */
.wrap header{
    width: 100%;
    height: 100vh;
}
.wrap header::before{
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background : url(../img/bannerDark.png) no-repeat center center;
    background-size: cover;
    z-index: -1;
}

/* 1-1. nav */
/* .wrap header nav{
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    line-height: 50px;
    padding: 0 20px;
} */

/* 1-2. banner */
.wrap .banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.wrap .banner .detail1{
    font-size: 1.2rem;
    font-weight: 200;
}
.wrap .banner .detail1 span{
    color: #FCE524;
}
.wrap .banner .title{
    font-size: 3rem;
}
.wrap .banner .detail2{
    font-size: 1.2rem;
    font-weight: 100;
    color: #d8d8d8;
}

/* 1-3. Btn */
.wrap .Btn{
    z-index: 999;
    cursor: pointer;
    width: 70px;
    height: 70px;
    stroke: #d8d8d8;
    stroke-width: 0.1;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.wrap .Btn::after{
    content: '▲';
    width: 30px;
    height: 30px;
    text-align: center;
    color: #d8d8d8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrap .Btn svg{
    transform: rotate(0);
    animation: btnRotate 15s linear infinite;
}
@keyframes btnRotate {
    to{
        transform: rotate(360deg);
    }
}

/* 2. section 영역*/
/* 2-1. gallery */
.wrap section{
    width: 100%;
    padding: 90px 100px;
}
.wrap h2{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    padding-left: 15px;
    border-bottom: 2px solid #0d0d0d;
    color: #0d0d0d;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
.wrap .swiper{
    width: 100%;
    height: 500px;
    padding: 0 30px;
    position: relative;
}
.wrap .swiper-wrapper .swiper-slide{
    width: 90%;
    height: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.wrap .swiper-wrapper .swiper-slide .innerBox{
    cursor: pointer;
    width: calc(25% - 10px);
    height: 200px;
    padding: 10px;
}
.wrap .swiper-wrapper .swiper-slide .innerBox .img-box{
    width: 100%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.wrap .swiper-wrapper .swiper-slide .innerBox .img-box p{
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #8c8c8c;
    width: 50px;
    height: 30px;
    color: #d8d8d8;
    text-align: center;
    line-height: 30px;
}
.wrap .swiper-wrapper .swiper-slide .innerBox .txt-box{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 0 5px;
    color: #0d0d0d;
    transition: 0.3s;
}
.wrap .swiper-wrapper .swiper-slide .innerBox .txt-box p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wrap .swiper-wrapper .swiper-slide .innerBox:hover .txt-box p{
    text-decoration: underline;
    width: 100%;
}
.swiper-button-next,
.swiper-button-prev{
    color: #0d0d0d;
    color: 30px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    transition: 0.3s;
}
.swiper-button-next:after,
 .swiper-button-prev:after{
    font-size: 1.5rem;
 }
 .swiper-button-next:hover,
 .swiper-button-prev:hover{
    transform: scale(1.2);
    background-color: #a5a5a5;
 }

/* 2-2. intro */
.wrap .intro{
    width: 100%;
    height: 400px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
}
.wrap .intro .notice,
.wrap .intro .location{
    width: 48%;
    height: 100%;
}
.wrap .intro .notice h2,
.wrap .intro .location h2{
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border-bottom: 2px solid #0d0d0d;
    color: #0d0d0d;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* 2-2-1. notice */
.wrap .intro .notice .notice-body{
    width: 90%;
    height: calc(100% - 50px);
    margin: 0 auto;
}
.wrap .intro .notice .notice-body ul{
    width: 100%;
    height: 100%;
}
.wrap .intro .notice .notice-body ul li{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e25c;
}
.wrap .intro .notice .notice-body ul li:last-child{
    border-bottom: none;
}
.wrap .intro .notice .notice-body ul li p{
    text-decoration: underline;
    font-size: 1rem;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wrap .intro .notice .notice-body ul li span{
    color: #a5a5a5;
    font-size: 0.8rem;
    width: 20%;
}

/* 2-2-2. location */
.wrap .intro .location .location-body{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap .intro .location .location-body .map{
    height: 100%;
    width: 90%;
}
.wrap .intro .location .location-body p{
    color: #0d0d0d;
    font-size: 0.8rem;
    text-align: center;
}

/* 3. footer 영역 */
.wrap footer{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d8d8d8;
}
.wrap footer .txt-box{
    padding: 0 100px;
    width: 60%;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrap footer .txt-box p{
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.wrap footer .txt-box p:nth-child(1){
    width: 100px;
}
.wrap footer .txt-box p:nth-child(2),
.wrap footer .txt-box p:nth-child(3){
    width: 150px;
}
.wrap footer .txt-box p:nth-child(4){
    width: 200px;
}
.wrap footer .txt-box p:nth-child(1)::after,
.wrap footer .txt-box p:nth-child(2)::after,
.wrap footer .txt-box p:nth-child(3)::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #d8d8d8;
}

/* footer > select */
.wrap footer select{
    background-color: transparent;
    border: none;
    width: 30%;
    border-bottom: 1px solid #d8d8d8;
    color: #d8d8d8;
    height: 30px;
}

/* ========== 반응형 스타일링 ========== */
/* @media (max-width : 1380px) {
    .wrap .intro .location .location-body .map{
        height: 100%;
        width: 80%;
    }
} */
@media (max-width : 1330px) {
    .wrap footer .txt-box{
        width: 70%;
    }
}
@media (max-width : 1125px) {
    .wrap footer .txt-box{
        width: 75%;
    }
}
@media (max-width : 1150px) {
    .wrap footer .txt-box{
        width: 80%;
    }
}
@media (max-width : 1040px) {
    .wrap .intro .notice{
        width: 35%;
        height: 100%;
    }
    .wrap .intro .location{
        width: 60%;
    }
}
@media (max-width : 995px) {
    .wrap footer .txt-box{
        width: 85%;
    }
    .wrap .intro .notice .notice-body ul li span{
        display: none;
    }
    .wrap .intro .notice .notice-body ul li p{
        width: 100%;
    }
}
@media (max-width : 900px) {
    .wrap .swiper{
        height: 900px;
    }
    .wrap .swiper-wrapper .swiper-slide{
        height: 90%;
    }
    .wrap .swiper-wrapper .swiper-slide .innerBox{
        width: calc(50% - 10px);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after{
        font-size: 1.5rem;
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover{
        transform: scale(1.1);
    }
    .wrap footer .txt-box{
        width: 90%;
    }
    .wrap .intro{
        flex-direction: column;
        padding: 50px;
        width: 100%;
        height: 700px;
        justify-content: space-evenly;
    }
    .wrap .intro .notice,
    .wrap .intro .location{
        width: 100%;
        height: 300px;
    }
    .wrap .intro .notice{
        height: 250px;
        margin-bottom: 50px;
    }
    .wrap .intro .notice h2,
    .wrap .intro .location h2{
        height: 40px;
        line-height: 40px;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .wrap .intro .notice .notice-body ul li p{
        width: 70%;
    }
    .wrap .intro .notice .notice-body ul li span{
        display: inline-block;
        width: 30%;
        text-align: end;
    }
    .wrap footer{
        margin-top: 0;
    }
}
@media (max-width : 855px) {
    .wrap footer select{
        width: 50%;
    }
    .wrap footer .txt-box{
        width: 100%;
        padding: 0 50px;
    }
}
@media (max-width : 730px) {
    .wrap section{
        padding: 100px 50px;
    }
    .wrap .banner .detail1{
        font-size: 1rem;
        font-weight: 200;
    }
    .wrap .banner .title{
        font-size: 2rem;
    }
    .wrap .banner .detail2{
        font-size: 1rem;
    }
}
@media (max-width : 666px) {
    .wrap footer .txt-box{
        padding: 0;
        font-size: 0.7rem;
    }    
}
@media (max-width : 550px) {
    .wrap footer select{
        width: 80%;
    }
    .wrap section{
        padding: 100px 0;
    }
}
@media (max-width : 510px) {
    .wrap footer{
        height: 200px;
    }
    .wrap footer .txt-box p{
        font-size: 0.5rem;
    }
    .wrap .swiper{
        height: auto;
    }
    .wrap .swiper-wrapper .swiper-slide{
        height: 100%;
    }
    .wrap .swiper-wrapper .swiper-slide .innerBox{
        width: 100%;
    }
    .wrap .intro .notice .notice-body ul li span{
        display: none;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
}
@media (max-width : 430px){
    .wrap footer .txt-box p{
        font-size: 0.4rem;
    }
    .wrap footer .txt-box{
        width: 80%;
        height: 50px;
        margin-top: 20px;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }    
    .wrap footer .txt-box p:nth-child(1),
    .wrap footer .txt-box p:nth-child(2),
    .wrap footer .txt-box p:nth-child(3),
    .wrap footer .txt-box p:nth-child(4){
        padding: 0;
        margin: 0;
        width: 50%;
        height: 15px;
    }
    .wrap footer .txt-box p:nth-child(1)::after,
    .wrap footer .txt-box p:nth-child(2)::after,
    .wrap footer .txt-box p:nth-child(3)::after{
        content: none;
    }
}
@media (max-width : 400px) {
    .wrap .banner .detail1{
        font-size: 0.7rem;
    }
    .wrap .banner .title{
        font-size: 1.5rem;
    }
    .wrap .banner .detail2{
        font-size: 0.7rem;
    }
}
@media (max-width : 360px) {
    .wrap footer .txt-box{
        flex-direction: column;
    }
    .wrap footer .txt-box p:nth-child(1),
    .wrap footer .txt-box p:nth-child(2),
    .wrap footer .txt-box p:nth-child(3),
    .wrap footer .txt-box p:nth-child(4){
        width: 100%;
        height: 12px;
    } 
}